* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  background-color: black;
}

.main {
  background: url("https://images.unsplash.com/photo-1605350957168-df39574993ad?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  min-height: 100vh;
  min-height: 100lvh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
  margin: auto;
}

.heading-container {
  color: white;
  padding: 1em 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.smaller {
  font-size: 1.5rem;
}

.bigger {
  font-size: 2.25rem;
  letter-spacing: 4px;
}

.time-container {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  justify-content: center;
  gap: 1em;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  height: 6rem;
  width: 4.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 1em;
  color: rgb(185, 185, 185);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.37);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
}

.days-p,
.hours-p,
.minutes-p,
.seconds-p {
  font-size: 2rem;
  font-weight: bold;
}
